.myFixedSidebar_handler{
    background: #f5f5f5;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: inherit;
    transition: transform 0.3s ease-in-out;
}

.btnCanvas{
    background: transparent;
    border: 1px solid #000000b3;
    padding: 5px 10px;
    margin-top: 10px;
    color: #000000b3;
    z-index: 2000;
}

.fixedContent_Info{
    text-align: center;
}
.profileImage{
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    margin: 0 auto;

}
.profileImage img{
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    margin-bottom: 30px;
}
.profileName h5{
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: .5rem;
    text-transform: capitalize;
    
}
.profileTitle p{
    text-transform: capitalize;
    font-size: .75rem;
    font-weight: 400;
    color: #000000b3;
    line-height: 1.8;
    margin-bottom: 30px;
}
.profileMain_pages ul{
    font-weight: 500;
    text-transform: uppercase;
    font-size: .75rem;
}
.profileMain_pages ul li{
    margin-bottom: 10px;
}
.profileMain_pages ul li a{
    color: #000000b3;
    transition: all ease-in-out .3s;
    position: relative;
}
.profileMain_pages ul li:last-child{
    margin-bottom: 0;
}
.active_custom{
    color: #2c98f0 !important;
}

.hover_effect::before,
.hover_effect::after
{
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    width: 0px;
    height: 1px;
    background-color: #2c98f0;
    transform: translate(-50%);
    transition: all ease-out .3s;

}

.hover_effect:hover::before{
    width: 70px;
}
.hover_effect:hover::after{
    width: 10px;
}

@media (max-width: 992px) {

}