:root {
}
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
  font-family: "Arimo", sans-serif;
}
p{
  font-family: "Montserrat", sans-serif;
}
body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    background-color: var(--primary-white);
    /* height: 300vh; */
}

*,
*:before,
*:after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

.form-control:hover ,
.form-control:focus ,
.form-control:focus-visible ,
.form-select:hover ,
.form-select:focus ,
.form-select:focus-visible {
    outline: none;
    box-shadow: none;
}

.errorMessage {
    color: #ff2020 !important;
    font-size: 11px;
}
.inputError {
    border-color: #ff2020 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
